@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variabili globali */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #9b111e;
  --secondary-color: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
  height: 56px;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: var(--background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Menu mobile */
#menu-toggle:checked ~ div {
  display: flex;
  flex-direction: column;
}

/* Layout */
main {
  padding-top: 64px;
  /* Compensazione per header fisso */
}

/* Hero Section */
.banner-content {
  height: auto;
  padding: 4rem 1rem;
  text-align: center;
  background-color: #111;
}

@media (min-width: 768px) {
  .banner-content {
    height: 600px;
    padding: 6rem 2rem;
  }
}

/* Testo */
.test {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .test {
    width: 1200px;
  }
}

/* Effetto Parallax */
.parallax {
  background-image: url("/parallax.webp");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 300px;
  width: 100%;
}

/* @media (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
} */

/* Sezioni informative */
.info-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 2rem;
  background-color: var(--secondary-color);
}

@media (min-width: 768px) {
  .info-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

.info-card {
  text-align: center;
  padding: 1.5rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.info-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.info-icon svg {
  color: white;
}

/* Pulsanti */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background: var(--primary-color);
  color: white;
  border-radius: 6px;
  transition: all 0.3s;
}

.button:hover {
  background: #7e0b15;
}

/* Effetti sulle immagini */
.product img,
.arrow {
  will-change: all;
  transition: all 0.5s ease-in-out;
}

.product:hover img {
  transform: scale(1.05);
}

.button:hover .arrow {
  transform: translateX(10%);
}

/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Carosello */

.infinite-carousel-container {
  width: 100%;
  margin-top: 2rem;
}

.infinite-carousel {
  position: relative;
  height: 60px;
  width: 100%;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent 0%,
    #fff 15%,
    #fff 85%,
    transparent 100%
  );
  mask: linear-gradient(
    90deg,
    transparent 0%,
    #fff 15%,
    #fff 85%,
    transparent 100%
  );
}

.carousel-track {
  display: flex;
  width: fit-content;
  animation: scroll 20s linear infinite;
  color: #ffffff;
}

.carousel-track h1 {
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 4px;
  white-space: nowrap;
}

.carousel-track h1 span {
  margin: 0 0.5em;
}

.carousel-track.reverse {
  animation-direction: reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {
  .carousel-track h1 {
    font-size: 1.5em;
  }
}
